<div class="album-container">
  <h1 class="title">Álbum de Videos - Amor y Amistad</h1>
  
  <div *ngFor="let section of videoSections" class="video-section">
    <h2 class="section-title">{{ section.title }}</h2>
    <div class="video-gallery">
      <div *ngFor="let video of section.videos" class="video-card">
        <video
          [src]="video.url"
          class="video-thumbnail"
          (mouseover)="playVideo($event)"
          (mouseleave)="pauseVideo($event)"
          preload="auto"
        ></video>
        <div class="video-info">
          <h3>{{ video.title }}</h3>
        </div>
      </div>
    </div>
    <button (click)="showLoveMessage()">¡Haz clic para una sorpresa!</button>
    <div class="gallery" *ngFor="let imagen of section.imagen">
      <img [src]="imagen.url" alt="Foto 1" class="gallery-item" (click)="openModal(imagen.url)">
    </div>
    
    <!-- Modal para ver la foto ampliada -->
    <div id="photoModal" class="modal" (click)="closeModal()">
      <span class="close">&times;</span>
      <img id="modalImage" class="modal-content" />
    </div>
    <img src="../../assets/corazon.png" class="sticker heart-sticker" />
    <img src="../../assets/estrella.png" class="sticker flower-sticker" />
        
  </div>
</div>
